/* your styles go here */

.tooltip-inner {
	font: bold 16px "Helvetica Neue", Sans-Serif;
	background-color: #1976D2;
	max-width:500px;
}

.mypic {
	position: relative;
	z-index: 10000;
}

#person-col:hover::after {
	content: url(img/plasticwaste.png);
	display: block;
}